@charset "utf-8";

/*===============================================================================================================   

Author      : Muhammad Febriansyah

Built       : Desember 2016

=============================================================================================================== */



@media all and (max-width:1050px){

    
	
    /* header

    ================================================================================================================= */
	
	#mainheader .nav > li > a{
		padding-left: 15px;
    	padding-right: 15px;
	}
	
    /* middle homepage

    ================================================================================================================= */
	
	
	
    /* middle contentpage

    ================================================================================================================= */
	.list-tiket .container .col-md-6.tiket-info-list{
		width: 100%;
	}
	.breadcrumb-step li a:after{
		left: 99%;
	}
	.row-orange,.row-blue{
		padding: 10px;
	}
	.box-orange{
		padding: 10px;
	}
	.detail-thumb{
		width: 65%;
	}

	
    /* footer

    ================================================================================================================= */
	.foot-subs .submit-blue{
        margin-top: 10px;
    }

	
}

